<!DOCTYPE html>
<html>
<head>
  <title>TMG Results</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      display: flex;
    }
    .navbar-vertical {
      height: 100vh;
      width: 200px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #f8f9fa;
      padding-top: 20px;
    }
    .navbar-vertical .nav-link {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .main-content {
      margin-left: 220px; /* Adjust based on the width of the navbar */
      padding: 20px;
      width: 100%;
    }
    textarea, input[type="text"] {
      width: 100%;
      box-sizing: border-box;
    }
    textarea#newSubject, textarea#title, textarea#editedResponse {
      height: auto;
    }
    #summaryDialog {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #ccc;
      padding: 20px;
      background: white;
      z-index: 1000;
      width: 640px;
    }
    #summaryDialog textarea {
      width: 100%;
      height: 400px; /* Set initial height to 400px */
      min-height: 400px; /* Ensure minimum height is 400px */
      max-height: 800px; /* Set maximum height to 800px */
      resize: vertical;
      overflow-y: scroll; /* Make it scrollable */
    }
    #loadingIndicator, #loadingIndicatorTM {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background: white;
      border: 1px solid #ccc;
      z-index: 1000;
    }
  </style>
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="main-content">
    <form action="/edit" method="post" class="mb-4">
      <input type="hidden" name="subject_id" value="<%= subject_id %>">
      <div class="mb-3">
        <label for="newSubject" class="form-label">Subject:</label>
        <textarea id="newSubject" name="newSubject" class="form-control"><%= subject %></textarea>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <textarea id="title" name="title" class="form-control"><%= title %></textarea>
      </div>
      <div class="mb-3">
        <p><strong>Model:</strong> <%= model %></p>
      </div>
      <div class="mb-3">
        <label for="editedResponse" class="form-label">Response:</label>
        <textarea name="editedResponse" id="editedResponse" rows="12" class="form-control"><%= response %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" onclick="showThreatsModal()">View Threats</button>
    </form>

    <div id="summaryDialog">
      <h2>Report</h2>
      <textarea id="summaryContent" class="form-control"></textarea>
      <br>
      <button class="btn btn-secondary" onclick="closeSummaryDialog()">Cancel</button>
      <button class="btn btn-primary" onclick="saveSummary('<%= subject_id %>')">Save</button>
    </div>
    <div id="loadingIndicator">
      <p>Generating report, please wait...</p>
    </div>
    <div id="loadingIndicatorTM">
      <p>Generating additional Threat Models, please wait...</p>
    </div>

    <!-- Threats Modal -->
    <%- include('partials/modals/threatsModal') %>

    <!-- Compare Modal -->
    <%- include('partials/modals/compareModal') %>

    <!-- Comparison Limit Modal -->
    <%- include('partials/modals/comparisonLimitModal') %>

    <%- include('scripts/summaryScript') %>
    <%- include('scripts/compareScript') %>
    <%- include('scripts/threatScript') %>
    <%- include('scripts/reformatScript') %>
  </div>
</body>
</html>
